<div class="container" id="hotels">

    <h1>All Hotels</h1>


    {{#each hotels}}
    <form id="hotel-form">
        <section class="rooms">
            <h3>{{hotelName}}</h3>
            <ul>

                <li>Location: {{location}}</li>
                <li>Check-in: {{checkIn}}</li>
                <li>Check-out: {{checkOut}}</li>
                <li>{{personsPerRoom}}</li>
                <li>Room status: {{roomStatus}}</li>
                <span>Room ID: {{hotelName}}5567{{id}}</span>
                <input type="hidden" id="hotelRoomId" value="{{id}}">

            </ul>

            <button type="submit" class="btn btn-success">Buy</button>



        </section>
    </form>


    {{else}}
    <p>No Hotels Available</p>
    {{/each}}


</div>