<div class="container" id="hotels">

    <h1>All Hotels</h1>


    {{#each hotels}}
    <section class="rooms">
        <h3>{{hotelName}}</h3>
        <ul>
            <li>Location: {{location}}</li>
            <li>Check-in: {{checkIn}}</li>
            <li>Check-out: {{checkOut}}</li>
            <li>{{personsPerRoom}}</li>
            <li>Room status: {{roomStatus}}</li>

        </ul>

        <button type="button" class="btn btn-light">Light</button>

    </section>


    {{else}}
    <p>No Hotels Available</p>
    {{/each}}


</div>