<div class="container" id="hotels">

    <h1>All Hotels</h1>


    {{#each hotels}}
    <form id="hotel-form">
        <section class="rooms">
            <h4>{{hotelName}}</h4>
            <ul class="hotelCard">

                <li><strong>Location: </strong>{{location}}</li>
                <li><strong>Check In: </strong>{{checkIn}}</li>
                <li><strong>Check Out:</strong> {{checkOut}}</li>
                <li>{{personsPerRoom}}</li>
                <li><strong>Room status:</strong> {{roomStatus}}</li>
                <span><strong>Room ID:</strong> {{hotelName}}5567{{id}}</span>
                <input type="hidden" id="hotelRoomId" value="{{id}}">

            </ul>


            <span class="badge badge-pill badge-info"><strong>$ </strong> {{roomPrice}}</span>

            <button type="submit" class="badge badge-pill badge-success">Buy</button>





        </section>
    </form>


    {{else}}
    <p>No Hotels Available</p>
    {{/each}}


</div>