<div class="container">
    <section class="rooms">
        <h1>All Hotels</h1>

        {{#each hotels}}

        <h1>{{hotelName}}</h1>

        <h2>{{location}}</h2>
        <h2>{{checkIn}}</h2>
        <h2>{{checkOut}}</h2>
        <h2>{{personsPerRoom}}</h2>
        <h2>{{roomStatus}}</h2>



        {{else}}
        <p>No Hotels Available</p>
        {{/each}}

    </section>
</div>