<div class="container" id="hotels">

    <h1>Your Bookings</h1>


    {{#each rooms}}
    <form id="delete-booking">
        <section class="rooms">
            <h3>Hotel Reference Number: {{refNumber}}</h3>
            <ul class="hotelCard2">
                <li><strong>First Name: </strong>{{firstName}}</li>
                <li><strong>last Name: </strong>{{lastName}}</li>
                <li><strong>Date of birth: </strong> {{dateOfBirth}}</li>
                <li><strong>Email: </strong> {{email}}</li>
                <li><strong>Hotel: </strong>{{Hotel.hotelName}}</li>
                <li><strong>Check In: </strong> {{Hotel.checkIn}}</li>
                <li><strong>Check Out: </strong> {{Hotel.checkOut}}</li>
                <li><strong>Location: </strong> {{Hotel.location}}</li>


                <input type="hidden" id="hotelRoomId" value="{{refNumber}}">




            </ul>
            <span class="badge badge-pill badge-info"><strong>$ </strong> {{Hotel.roomPrice}}</span>
            <button type="submit" class="badge badge-pill badge-warning">Cancel Booking</button>





        </section>
    </form>


    {{else}}
    <p> You do not have any hotels currently booked</p>
    {{/each}}


</div>