<div class="container" id="hotels">

    <h1>Your Bookings</h1>


    {{#each rooms}}
    <section class="rooms">
        <h3>Hotel Reference Number: {{refNumber}}</h3>
        <ul>
            <li>First Name: {{firstName}}</li>
            <li>lastName: {{lastName}}</li>
            <li>Date of birth: {{dateOfBirth}}</li>
            <li>Email: {{email}}</li>
            <li>Hotel: {{Hotel.hotelName}}</li>
            <li>Check In: {{Hotel.checkIn}}</li>
            <li>Check Out: {{Hotel.checkOut}}</li>
            <li>Location: {{Hotel.location}}</li>




        </ul>

        <a type="submit" class="btn btn-warning" data-id="{{this.id}}" role="button">Cancel Booking</a>


    </section>


    {{else}}
    <p> You do not have any hotels currently booked</p>
    {{/each}}


</div>